@mixin flexy-navigation-mixin-height($height) {

  .flexy-navigation {

    > li {

      > a {
        line-height: $height;
      }
    }
  }
  
  .flexy-navigation__icon-link {
    line-height: $height;
  }
}

@mixin flexy-navigation-mixin-item-colors($font-color, $background-color, $hover-font-color, $hover-background-color, $active-font-color, $active-background-color) {

  .flexy-navigation__item {

    > a {
      color: $font-color;
      background-color: $background-color;
    }

    &:hover > a,
    > a:hover {
      color: $hover-font-color;
      background-color: $hover-background-color;
    }
  }
  .flexy-navigation__item--active,
  .flexy-navigation__item--active-trail {

    > a {

      &, &:hover {
        color: $active-font-color;
        background-color: $active-background-color;
      }
    }
  }
}
